$black: #000000;
$gray: rgb(41,41,41);
$darkGrey: rgb(30,30,30);
$green: rgb(97,144,76);
$h1_font: 40px;
$light_brown: rgb(243, 226, 186);
$dark_brown: rgba(202, 130, 15, 0.8);
$retro_black: rgb(25, 45, 46);

$lightGray: rgb(61,61,61);
$retro_blue: rgb(139, 177, 197);
$white: rgb(236,236,236);
//https://www.shutterstock.com/blog/25-free-retro-color-palettes